In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib.pyplot as plt

In [4]:
s = pd.Series([1,3,5,np.nan,6,8])

In [5]:
dates = pd.date_range('20130101', periods=6)

In [6]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [7]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [8]:
df

                   A         B         C         D
2013-01-01 -0.661272 -0.256668  0.005496  0.732450
2013-01-02 -1.481063  1.028455 -1.235182 -0.221694
2013-01-03 -1.021594 -0.879525  0.580117  0.211933
2013-01-04 -0.473784  0.535140  1.637855 -0.067573
2013-01-05  0.803405 -0.476202  1.036741  2.122174
2013-01-06 -0.053474 -0.351383 -0.277965  0.336054

In [9]:
df2 = pd.DataFrame({ 'A' : 1.,
                     'B' : pd.Timestamp('20130102'),
                     'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                     'D' : np.array([3] * 4,dtype='int32'),
                     'E' : pd.Categorical(["test","train","test","train"]),
                     'F' : 'foo' })

In [10]:
df2

   A          B  C  D      E    F
0  1 2013-01-02  1  3   test  foo
1  1 2013-01-02  1  3  train  foo
2  1 2013-01-02  1  3   test  foo
3  1 2013-01-02  1  3  train  foo

In [11]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [12]:
df.head()

                   A         B         C         D
2013-01-01 -0.661272 -0.256668  0.005496  0.732450
2013-01-02 -1.481063  1.028455 -1.235182 -0.221694
2013-01-03 -1.021594 -0.879525  0.580117  0.211933
2013-01-04 -0.473784  0.535140  1.637855 -0.067573
2013-01-05  0.803405 -0.476202  1.036741  2.122174

In [13]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [14]:
df.columns

Index([u'A', u'B', u'C', u'D'], dtype='object')

In [15]:
df.values

array([[-0.66127176, -0.25666781,  0.00549584,  0.73244997],
       [-1.48106272,  1.02845509, -1.23518153, -0.22169353],
       [-1.02159439, -0.87952473,  0.58011737,  0.21193343],
       [-0.47378367,  0.53513998,  1.63785507, -0.06757306],
       [ 0.8034045 , -0.47620218,  1.03674133,  2.12217359],
       [-0.05347431, -0.35138271, -0.27796505,  0.33605447]])

In [16]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.481297 -0.066697  0.291177  0.518891
std    0.794656  0.708108  1.018646  0.852781
min   -1.481063 -0.879525 -1.235182 -0.221694
25%   -0.931514 -0.444997 -0.207100  0.002304
50%   -0.567528 -0.304025  0.292807  0.273994
75%   -0.158552  0.337188  0.922585  0.633351
max    0.803405  1.028455  1.637855  2.122174

In [17]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -0.661272   -1.481063   -1.021594   -0.473784    0.803405   -0.053474
B   -0.256668    1.028455   -0.879525    0.535140   -0.476202   -0.351383
C    0.005496   -1.235182    0.580117    1.637855    1.036741   -0.277965
D    0.732450   -0.221694    0.211933   -0.067573    2.122174    0.336054

In [18]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01  0.732450  0.005496 -0.256668 -0.661272
2013-01-02 -0.221694 -1.235182  1.028455 -1.481063
2013-01-03  0.211933  0.580117 -0.879525 -1.021594
2013-01-04 -0.067573  1.637855  0.535140 -0.473784
2013-01-05  2.122174  1.036741 -0.476202  0.803405
2013-01-06  0.336054 -0.277965 -0.351383 -0.053474

In [19]:
df.sort_values(by='B')

                   A         B         C         D
2013-01-03 -1.021594 -0.879525  0.580117  0.211933
2013-01-05  0.803405 -0.476202  1.036741  2.122174
2013-01-06 -0.053474 -0.351383 -0.277965  0.336054
2013-01-01 -0.661272 -0.256668  0.005496  0.732450
2013-01-04 -0.473784  0.535140  1.637855 -0.067573
2013-01-02 -1.481063  1.028455 -1.235182 -0.221694

In [20]:
df['A'] #select a single column

2013-01-01   -0.661272
2013-01-02   -1.481063
2013-01-03   -1.021594
2013-01-04   -0.473784
2013-01-05    0.803405
2013-01-06   -0.053474
Freq: D, Name: A, dtype: float64

In [21]:
df[0:3] #slices along the rows

                   A         B         C         D
2013-01-01 -0.661272 -0.256668  0.005496  0.732450
2013-01-02 -1.481063  1.028455 -1.235182 -0.221694
2013-01-03 -1.021594 -0.879525  0.580117  0.211933

In [22]:
df['20130102':'20130104'] #slices among rows again

                   A         B         C         D
2013-01-02 -1.481063  1.028455 -1.235182 -0.221694
2013-01-03 -1.021594 -0.879525  0.580117  0.211933
2013-01-04 -0.473784  0.535140  1.637855 -0.067573

In [23]:
df.loc[dates[0]] #selection by label

A   -0.661272
B   -0.256668
C    0.005496
D    0.732450
Name: 2013-01-01 00:00:00, dtype: float64

In [24]:
df.loc[:,['A','B']] #electing on a multi-axis by label

                   A         B
2013-01-01 -0.661272 -0.256668
2013-01-02 -1.481063  1.028455
2013-01-03 -1.021594 -0.879525
2013-01-04 -0.473784  0.535140
2013-01-05  0.803405 -0.476202
2013-01-06 -0.053474 -0.351383

In [25]:
df.loc['20130102':'20130104',['A','B']] #Showing label slicing, both endpoints are included

                   A         B
2013-01-02 -1.481063  1.028455
2013-01-03 -1.021594 -0.879525
2013-01-04 -0.473784  0.535140

In [26]:
df.loc['20130102',['A','B']] #Reduction in the dimensions of the returned object

A   -1.481063
B    1.028455
Name: 2013-01-02 00:00:00, dtype: float64

In [27]:
df.loc[dates[0],'A'] #for getting a scalar value

-0.66127175882441869

In [28]:
df.at[dates[0],'A'] #For getting fast access to a scalar (equiv to the prior method)

-0.66127175882441869

In [29]:
#selection by position
df.iloc[3] #Select via the position of the passed integers

A   -0.473784
B    0.535140
C    1.637855
D   -0.067573
Name: 2013-01-04 00:00:00, dtype: float64

In [30]:
df.iloc[3:5,0:2] #By integer slices, acting similar to numpy/python

                   A         B
2013-01-04 -0.473784  0.535140
2013-01-05  0.803405 -0.476202

In [31]:
df.iloc[[1,2,4],[0,2]] #By lists of integer position locations, similar to the numpy/python style

                   A         C
2013-01-02 -1.481063 -1.235182
2013-01-03 -1.021594  0.580117
2013-01-05  0.803405  1.036741

In [32]:
df.iloc[1:3,:] #For slicing rows explicitly

                   A         B         C         D
2013-01-02 -1.481063  1.028455 -1.235182 -0.221694
2013-01-03 -1.021594 -0.879525  0.580117  0.211933

In [33]:
df.iloc[:,1:3] #For slicing columns explicitly

                   B         C
2013-01-01 -0.256668  0.005496
2013-01-02  1.028455 -1.235182
2013-01-03 -0.879525  0.580117
2013-01-04  0.535140  1.637855
2013-01-05 -0.476202  1.036741
2013-01-06 -0.351383 -0.277965

In [34]:
df.iloc[1,1] #for getting a value explicitly

1.0284550897361042

In [35]:
df.iat[1,1] #For getting fast access to a scalar (equiv to the prior method)

1.0284550897361042

In [36]:
#boolean indexing
df[df.A > 0] #Using a single column’s values to select data.

                   A         B         C         D
2013-01-05  0.803405 -0.476202  1.036741  2.122174

In [37]:
df[df > 0] #a where operation for getting

                   A         B         C         D
2013-01-01       NaN       NaN  0.005496  0.732450
2013-01-02       NaN  1.028455       NaN       NaN
2013-01-03       NaN       NaN  0.580117  0.211933
2013-01-04       NaN  0.535140  1.637855       NaN
2013-01-05  0.803405       NaN  1.036741  2.122174
2013-01-06       NaN       NaN       NaN  0.336054

In [39]:
#Using the isin() method for filtering:
df2 = df.copy()
df2['E'] = ['one', 'one','two','three','four','three']
df2

                   A         B         C         D      E
2013-01-01 -0.661272 -0.256668  0.005496  0.732450    one
2013-01-02 -1.481063  1.028455 -1.235182 -0.221694    one
2013-01-03 -1.021594 -0.879525  0.580117  0.211933    two
2013-01-04 -0.473784  0.535140  1.637855 -0.067573  three
2013-01-05  0.803405 -0.476202  1.036741  2.122174   four
2013-01-06 -0.053474 -0.351383 -0.277965  0.336054  three

In [40]:
df2[df2['E'].isin(['two','four'])]

                   A         B         C         D     E
2013-01-03 -1.021594 -0.879525  0.580117  0.211933   two
2013-01-05  0.803405 -0.476202  1.036741  2.122174  four

In [42]:
#Setting a new column automatically aligns the data by the indexes
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6))
s1

2013-01-02    1
2013-01-03    2
2013-01-04    3
2013-01-05    4
2013-01-06    5
2013-01-07    6
Freq: D, dtype: int64

In [44]:
df['F'] = s1
df

                   A         B         C         D   F
2013-01-01 -0.661272 -0.256668  0.005496  0.732450 NaN
2013-01-02 -1.481063  1.028455 -1.235182 -0.221694   1
2013-01-03 -1.021594 -0.879525  0.580117  0.211933   2
2013-01-04 -0.473784  0.535140  1.637855 -0.067573   3
2013-01-05  0.803405 -0.476202  1.036741  2.122174   4
2013-01-06 -0.053474 -0.351383 -0.277965  0.336054   5

In [46]:
#Setting values by label
df.at[dates[0],'A'] = 0
df

                   A         B         C         D   F
2013-01-01  0.000000 -0.256668  0.005496  0.732450 NaN
2013-01-02 -1.481063  1.028455 -1.235182 -0.221694   1
2013-01-03 -1.021594 -0.879525  0.580117  0.211933   2
2013-01-04 -0.473784  0.535140  1.637855 -0.067573   3
2013-01-05  0.803405 -0.476202  1.036741  2.122174   4
2013-01-06 -0.053474 -0.351383 -0.277965  0.336054   5

In [47]:
#Setting values by position
df.iat[0,1] = 0
df

                   A         B         C         D   F
2013-01-01  0.000000  0.000000  0.005496  0.732450 NaN
2013-01-02 -1.481063  1.028455 -1.235182 -0.221694   1
2013-01-03 -1.021594 -0.879525  0.580117  0.211933   2
2013-01-04 -0.473784  0.535140  1.637855 -0.067573   3
2013-01-05  0.803405 -0.476202  1.036741  2.122174   4
2013-01-06 -0.053474 -0.351383 -0.277965  0.336054   5

In [48]:
#Setting by assigning with a numpy array
df.loc[:,'D'] = np.array([5] * len(df))
df

                   A         B         C  D   F
2013-01-01  0.000000  0.000000  0.005496  5 NaN
2013-01-02 -1.481063  1.028455 -1.235182  5   1
2013-01-03 -1.021594 -0.879525  0.580117  5   2
2013-01-04 -0.473784  0.535140  1.637855  5   3
2013-01-05  0.803405 -0.476202  1.036741  5   4
2013-01-06 -0.053474 -0.351383 -0.277965  5   5

In [49]:
#A where operation with setting.
df2 = df.copy()
df2

                   A         B         C  D   F
2013-01-01  0.000000  0.000000  0.005496  5 NaN
2013-01-02 -1.481063  1.028455 -1.235182  5   1
2013-01-03 -1.021594 -0.879525  0.580117  5   2
2013-01-04 -0.473784  0.535140  1.637855  5   3
2013-01-05  0.803405 -0.476202  1.036741  5   4
2013-01-06 -0.053474 -0.351383 -0.277965  5   5

df2[df2 > 0] = -df2
df2

In [ ]:
#missing data