In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib.pyplot as plt

In [4]:
s = pd.Series([1,3,5,np.nan,6,8])

In [5]:
dates = pd.date_range('20130101', periods=6)

In [6]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [7]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [8]:
df

                   A         B         C         D
2013-01-01 -0.133770 -0.283063 -1.829034  0.283905
2013-01-02 -1.705547  0.973809  1.430606 -0.670225
2013-01-03  0.016001  0.399584 -0.158441 -1.179046
2013-01-04 -0.326205 -0.695669 -0.740002 -0.166809
2013-01-05  1.080796  0.834199 -2.715361  0.298658
2013-01-06  1.709856 -1.529852 -0.004668 -1.157536

In [9]:
df2 = pd.DataFrame({ 'A' : 1.,
                     'B' : pd.Timestamp('20130102'),
                     'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                     'D' : np.array([3] * 4,dtype='int32'),
                     'E' : pd.Categorical(["test","train","test","train"]),
                     'F' : 'foo' })

In [10]:
df2

   A          B  C  D      E    F
0  1 2013-01-02  1  3   test  foo
1  1 2013-01-02  1  3  train  foo
2  1 2013-01-02  1  3   test  foo
3  1 2013-01-02  1  3  train  foo

In [13]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [14]:
df.head()

                   A         B         C         D
2013-01-01 -0.133770 -0.283063 -1.829034  0.283905
2013-01-02 -1.705547  0.973809  1.430606 -0.670225
2013-01-03  0.016001  0.399584 -0.158441 -1.179046
2013-01-04 -0.326205 -0.695669 -0.740002 -0.166809
2013-01-05  1.080796  0.834199 -2.715361  0.298658

In [15]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [16]:
df.columns

Index([u'A', u'B', u'C', u'D'], dtype='object')

In [17]:
df.values

array([[-0.13377031, -0.28306291, -1.82903377,  0.28390549],
       [-1.70554727,  0.97380905,  1.43060574, -0.67022455],
       [ 0.01600053,  0.3995836 , -0.1584411 , -1.17904649],
       [-0.32620476, -0.69566873, -0.74000232, -0.16680856],
       [ 1.08079596,  0.8341992 , -2.71536083,  0.29865785],
       [ 1.70985573, -1.52985223, -0.00466806, -1.15753581]])

In [18]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.106855 -0.050165 -0.669483 -0.431842
std    1.187996  0.968843  1.459360  0.672003
min   -1.705547 -1.529852 -2.715361 -1.179046
25%   -0.278096 -0.592517 -1.556776 -1.035708
50%   -0.058885  0.058260 -0.449222 -0.418517
75%    0.814597  0.725545 -0.043111  0.171227
max    1.709856  0.973809  1.430606  0.298658

In [19]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -0.133770   -1.705547    0.016001   -0.326205    1.080796    1.709856
B   -0.283063    0.973809    0.399584   -0.695669    0.834199   -1.529852
C   -1.829034    1.430606   -0.158441   -0.740002   -2.715361   -0.004668
D    0.283905   -0.670225   -1.179046   -0.166809    0.298658   -1.157536

In [29]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01  0.283905 -1.829034 -0.283063 -0.133770
2013-01-02 -0.670225  1.430606  0.973809 -1.705547
2013-01-03 -1.179046 -0.158441  0.399584  0.016001
2013-01-04 -0.166809 -0.740002 -0.695669 -0.326205
2013-01-05  0.298658 -2.715361  0.834199  1.080796
2013-01-06 -1.157536 -0.004668 -1.529852  1.709856

In [21]:
df.sort_values(by='B')

                   A         B         C         D
2013-01-06  1.709856 -1.529852 -0.004668 -1.157536
2013-01-04 -0.326205 -0.695669 -0.740002 -0.166809
2013-01-01 -0.133770 -0.283063 -1.829034  0.283905
2013-01-03  0.016001  0.399584 -0.158441 -1.179046
2013-01-05  1.080796  0.834199 -2.715361  0.298658
2013-01-02 -1.705547  0.973809  1.430606 -0.670225

In [35]:
df['A'] #select a single column

2013-01-01   -0.133770
2013-01-02   -1.705547
2013-01-03    0.016001
2013-01-04   -0.326205
2013-01-05    1.080796
2013-01-06    1.709856
Freq: D, Name: A, dtype: float64

In [34]:
df[0:3] #slices along the rows

                   A         B         C         D
2013-01-01 -0.133770 -0.283063 -1.829034  0.283905
2013-01-02 -1.705547  0.973809  1.430606 -0.670225
2013-01-03  0.016001  0.399584 -0.158441 -1.179046

In [37]:
df['20130102':'20130104'] #slices among rows again

                   A         B         C         D
2013-01-02 -1.705547  0.973809  1.430606 -0.670225
2013-01-03  0.016001  0.399584 -0.158441 -1.179046
2013-01-04 -0.326205 -0.695669 -0.740002 -0.166809

In [38]:
df.loc[dates[0]] #selection by label

A   -0.133770
B   -0.283063
C   -1.829034
D    0.283905
Name: 2013-01-01 00:00:00, dtype: float64

In [39]:
df.loc[:,['A','B']] #electing on a multi-axis by label

                   A         B
2013-01-01 -0.133770 -0.283063
2013-01-02 -1.705547  0.973809
2013-01-03  0.016001  0.399584
2013-01-04 -0.326205 -0.695669
2013-01-05  1.080796  0.834199
2013-01-06  1.709856 -1.529852

In [40]:
df.loc['20130102':'20130104',['A','B']] #Showing label slicing, both endpoints are included

                   A         B
2013-01-02 -1.705547  0.973809
2013-01-03  0.016001  0.399584
2013-01-04 -0.326205 -0.695669

In [41]:
df.loc['20130102',['A','B']] #Reduction in the dimensions of the returned object

A   -1.705547
B    0.973809
Name: 2013-01-02 00:00:00, dtype: float64

In [42]:
df.loc[dates[0],'A'] #for getting a scalar value

-0.13377031373375364

In [43]:
df.at[dates[0],'A'] #For getting fast access to a scalar (equiv to the prior method)

-0.13377031373375364

In [44]:
#selection by position